<%= link_to "Posts", posts_path %>
<%= link_to "Produtos", products_path %>
<%= link_to "Clientes", customers_path %>

<h1>Página Inicial</h1>

<p>Bem-Vindo ao meu apredizado de Ruby On Rails.</p>

<% @posts.each do |post| %>

    <p><%= link_to post.title, post %></p>

<% end %>